In [4]:
import polars as pl
import plotnine as pn

In [5]:
df1 = pl.read_csv('../Data/lahman_1871-2023_csv/Batting.csv')
df1

shape: (113_799, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬──────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF   ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ ---  ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64  ┆ i64  ┆ str   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪══════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1   ┆ 0    ┆ 0    ┆ null  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
│ …         ┆ …      ┆ …     ┆ …      ┆ … ┆ …   ┆ …    ┆ …    ┆ …     │
│ zwilldu01 ┆ 1915   ┆ 1     ┆ CHF    ┆ … ┆ 18  ┆ null ┆ null ┆ null  │
│ zwilldu01 ┆ 1916   ┆ 1     ┆ CHN    ┆ … ┆ 2   ┆ null ┆ null ┆ null  │
│ zychto01  ┆ 2015   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
│ zychto01  ┆ 2016   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
│ zychto01  ┆ 2017   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0    ┆ 0    ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴──────┴──────┴───────┘

In [6]:
df = (
    df1
    .with_columns([(pl.col('H') - pl.col('2B') - pl.col('3B') - pl.col('HR'))
                     .alias("1B")])
   .sort(pl.col('yearID'))
    )

df

shape: (113_799, 25)
┌───────────┬────────┬───────┬────────┬───┬──────┬──────┬───────┬─────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SF   ┆ GIDP ┆ G_old ┆ 1B  │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---   ┆ --- │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64  ┆ i64  ┆ str   ┆ i64 │
╞═══════════╪════════╪═══════╪════════╪═══╪══════╪══════╪═══════╪═════╡
│ abercda01 ┆ 1871   ┆ 1     ┆ TRO    ┆ … ┆ null ┆ 0    ┆ null  ┆ 0   │
│ addybo01  ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ 0    ┆ null  ┆ 26  │
│ allisar01 ┆ 1871   ┆ 1     ┆ CL1    ┆ … ┆ null ┆ 1    ┆ null  ┆ 31  │
│ allisdo01 ┆ 1871   ┆ 1     ┆ WS3    ┆ … ┆ null ┆ 0    ┆ null  ┆ 30  │
│ ansonca01 ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ 0    ┆ null  ┆ 25  │
│ …         ┆ …      ┆ …     ┆ …      ┆ … ┆ …    ┆ …    ┆ …     ┆ …   │
│ zavalse01 ┆ 2023   ┆ 2     ┆ ARI    ┆ … ┆ 0    ┆ 0    ┆ null  ┆ 4   │
│ zerpaan01 ┆ 2023   ┆ 1     ┆ KCA    ┆ … ┆ 0    ┆ 0    ┆ null  ┆ 0   │
│ zimmebr02 ┆ 2023   ┆ 1     ┆ BAL    ┆ … ┆ 0    ┆ 0    ┆ null  ┆ 0   │
│ zuniggu01 ┆ 2023   ┆ 1     ┆ SLN    ┆ … ┆ 0    ┆ 0    ┆ null  ┆ 0   │
│ zuninmi01 ┆ 2023   ┆ 1     ┆ CLE    ┆ … ┆ 0    ┆ 3    ┆ null  ┆ 12  │
└───────────┴────────┴───────┴────────┴───┴──────┴──────┴───────┴─────┘

In [7]:
df = (
    df
    .select(['yearID', 'lgID', '1B', '2B', '3B', 'HR', 'AB'])
    .filter(pl.col('yearID') > 1945)
    .filter((pl.col('lgID') == 'AL') | (pl.col('lgID') == 'NL'))
    .group_by(['lgID', 'yearID'])
    .agg(pl.col("1B").sum().alias("Total_Singles"), pl.col("2B").sum().alias("Total_Doubles"), pl.col("3B").sum().alias("Total_Triples"), pl.col("HR").sum().alias("Total_HomeRuns"), pl.col("AB").sum().alias("Total_AtBats"))
)

df

shape: (156, 7)
┌──────┬────────┬───────────────┬───────────────┬───────────────┬────────────────┬──────────────┐
│ lgID ┆ yearID ┆ Total_Singles ┆ Total_Doubles ┆ Total_Triples ┆ Total_HomeRuns ┆ Total_AtBats │
│ ---  ┆ ---    ┆ ---           ┆ ---           ┆ ---           ┆ ---            ┆ ---          │
│ str  ┆ i64    ┆ i64           ┆ i64           ┆ i64           ┆ i64            ┆ i64          │
╞══════╪════════╪═══════════════╪═══════════════╪═══════════════╪════════════════╪══════════════╡
│ AL   ┆ 1977   ┆ 14507         ┆ 3408          ┆ 644           ┆ 2013           ┆ 77275        │
│ NL   ┆ 2008   ┆ 15256         ┆ 4729          ┆ 478           ┆ 2608           ┆ 88595        │
│ NL   ┆ 1957   ┆ 7886          ┆ 1733          ┆ 365           ┆ 1178           ┆ 42919        │
│ NL   ┆ 1997   ┆ 13745         ┆ 3907          ┆ 485           ┆ 2163           ┆ 77203        │
│ AL   ┆ 1960   ┆ 7609          ┆ 1720          ┆ 274           ┆ 1086           ┆ 41838        │
│ …    ┆ …      ┆ …             ┆ …             ┆ …             ┆ …              ┆ …            │
│ NL   ┆ 1959   ┆ 7744          ┆ 1788          ┆ 324           ┆ 1159           ┆ 42330        │
│ AL   ┆ 2021   ┆ 12630         ┆ 3956          ┆ 317           ┆ 3059           ┆ 81337        │
│ NL   ┆ 1982   ┆ 12518         ┆ 2823          ┆ 445           ┆ 1299           ┆ 66263        │
│ AL   ┆ 1975   ┆ 12305         ┆ 2662          ┆ 429           ┆ 1465           ┆ 65371        │
│ NL   ┆ 1972   ┆ 11502         ┆ 2392          ┆ 430           ┆ 1359           ┆ 63116        │
└──────┴────────┴───────────────┴───────────────┴───────────────┴────────────────┴──────────────┘

In [8]:
df = (
    df
    .with_columns([((pl.col("Total_Singles") + (pl.col('Total_Doubles') * 2) + (pl.col('Total_Triples') * 3) + (pl.col('Total_HomeRuns') * 4)) / pl.col('Total_AtBats'))
                     .alias("Slugging_Percentage")])
   .sort(pl.col('yearID'))
    )

df

shape: (156, 8)
┌──────┬────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┐
│ lgID ┆ yearID ┆ Total_Singl ┆ Total_Doubl ┆ Total_Tripl ┆ Total_HomeR ┆ Total_AtBat ┆ Slugging_P │
│ ---  ┆ ---    ┆ es          ┆ es          ┆ es          ┆ uns         ┆ s           ┆ ercentage  │
│ str  ┆ i64    ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ ---        │
│      ┆        ┆ i64         ┆ i64         ┆ i64         ┆ i64         ┆ i64         ┆ f64        │
╞══════╪════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╪════════════╡
│ NL   ┆ 1946   ┆ 8066        ┆ 1752        ┆ 382         ┆ 562         ┆ 42094       ┆ 0.35549    │
│ AL   ┆ 1946   ┆ 7912        ┆ 1827        ┆ 401         ┆ 653         ┆ 42239       ┆ 0.364142   │
│ AL   ┆ 1947   ┆ 7940        ┆ 1708        ┆ 412         ┆ 679         ┆ 42002       ┆ 0.364459   │
│ NL   ┆ 1947   ┆ 8126        ┆ 1860        ┆ 392         ┆ 886         ┆ 42434       ┆ 0.390394   │
│ AL   ┆ 1948   ┆ 8206        ┆ 1846        ┆ 450         ┆ 710         ┆ 42155       ┆ 0.381639   │
│ …    ┆ …      ┆ …           ┆ …           ┆ …           ┆ …           ┆ …           ┆ …          │
│ AL   ┆ 2021   ┆ 12630       ┆ 3956        ┆ 317         ┆ 3059        ┆ 81337       ┆ 0.414682   │
│ NL   ┆ 2022   ┆ 12846       ┆ 3984        ┆ 348         ┆ 2658        ┆ 81649       ┆ 0.397923   │
│ AL   ┆ 2022   ┆ 13031       ┆ 3956        ┆ 295         ┆ 2557        ┆ 81816       ┆ 0.391806   │
│ AL   ┆ 2023   ┆ 12917       ┆ 4130        ┆ 342         ┆ 2925        ┆ 82324       ┆ 0.411824   │
│ NL   ┆ 2023   ┆ 13114       ┆ 4098        ┆ 370         ┆ 2943        ┆ 82094       ┆ 0.416498   │
└──────┴────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴────────────┘

In [9]:
df = (
    df.with_columns(
        pl
        .when((pl.col('lgID') == 'NL') & (pl.col('yearID').is_in(2020) | pl.col('yearID') >= 2022))
            .then(pl.lit('Yes'))
        .when((pl.col('lgID') == 'AL') & (pl.col('yearID') >= 1973))
            .then(pl.lit('Yes'))
        .otherwise(pl.lit('No'))
        .alias('DH')
    )
)

print(df.head())

shape: (5, 9)
┌──────┬────────┬──────────────┬──────────────┬───┬──────────────┬─────────────┬─────────────┬─────┐
│ lgID ┆ yearID ┆ Total_Single ┆ Total_Double ┆ … ┆ Total_HomeRu ┆ Total_AtBat ┆ Slugging_Pe ┆ DH  │
│ ---  ┆ ---    ┆ s            ┆ s            ┆   ┆ ns           ┆ s           ┆ rcentage    ┆ --- │
│ str  ┆ i64    ┆ ---          ┆ ---          ┆   ┆ ---          ┆ ---         ┆ ---         ┆ str │
│      ┆        ┆ i64          ┆ i64          ┆   ┆ i64          ┆ i64         ┆ f64         ┆     │
╞══════╪════════╪══════════════╪══════════════╪═══╪══════════════╪═════════════╪═════════════╪═════╡
│ NL   ┆ 1946   ┆ 8066         ┆ 1752         ┆ … ┆ 562          ┆ 42094       ┆ 0.35549     ┆ No  │
│ AL   ┆ 1946   ┆ 7912         ┆ 1827         ┆ … ┆ 653          ┆ 42239       ┆ 0.364142    ┆ No  │
│ AL   ┆ 1947   ┆ 7940         ┆ 1708         ┆ … ┆ 679          ┆ 42002       ┆ 0.364459    ┆ No  │
│ NL   ┆ 1947   ┆ 8126         ┆ 1860         ┆ … ┆ 886          ┆ 42434       ┆ 0.390394    ┆ No  │
│ AL   ┆ 1948   ┆ 8206         ┆ 1846         ┆ … ┆ 710          ┆ 42155       ┆ 0.381639    ┆ No  │
└──────┴────────┴──────────────┴──────────────┴───┴──────────────┴─────────────┴─────────────┴─────┘

In [10]:
df.filter(pl.col('yearID') > 1971)

shape: (104, 9)
┌──────┬────────┬──────────────┬──────────────┬───┬──────────────┬─────────────┬─────────────┬─────┐
│ lgID ┆ yearID ┆ Total_Single ┆ Total_Double ┆ … ┆ Total_HomeRu ┆ Total_AtBat ┆ Slugging_Pe ┆ DH  │
│ ---  ┆ ---    ┆ s            ┆ s            ┆   ┆ ns           ┆ s           ┆ rcentage    ┆ --- │
│ str  ┆ i64    ┆ ---          ┆ ---          ┆   ┆ ---          ┆ ---         ┆ ---         ┆ str │
│      ┆        ┆ i64          ┆ i64          ┆   ┆ i64          ┆ i64         ┆ f64         ┆     │
╞══════╪════════╪══════════════╪══════════════╪═══╪══════════════╪═════════════╪═════════════╪═════╡
│ AL   ┆ 1972   ┆ 11000        ┆ 2260         ┆ … ┆ 1175         ┆ 61712       ┆ 0.343013    ┆ No  │
│ NL   ┆ 1972   ┆ 11502        ┆ 2392         ┆ … ┆ 1359         ┆ 63116       ┆ 0.364599    ┆ No  │
│ NL   ┆ 1973   ┆ 12281        ┆ 2600         ┆ … ┆ 1550         ┆ 66087       ┆ 0.375853    ┆ No  │
│ AL   ┆ 1973   ┆ 12613        ┆ 2624         ┆ … ┆ 1552         ┆ 66276       ┆ 0.38145     ┆ Yes │
│ NL   ┆ 1974   ┆ 12538        ┆ 2642         ┆ … ┆ 1280         ┆ 66212       ┆ 0.366746    ┆ No  │
│ …    ┆ …      ┆ …            ┆ …            ┆ … ┆ …            ┆ …           ┆ …           ┆ …   │
│ AL   ┆ 2021   ┆ 12630        ┆ 3956         ┆ … ┆ 3059         ┆ 81337       ┆ 0.414682    ┆ Yes │
│ NL   ┆ 2022   ┆ 12846        ┆ 3984         ┆ … ┆ 2658         ┆ 81649       ┆ 0.397923    ┆ Yes │
│ AL   ┆ 2022   ┆ 13031        ┆ 3956         ┆ … ┆ 2557         ┆ 81816       ┆ 0.391806    ┆ Yes │
│ AL   ┆ 2023   ┆ 12917        ┆ 4130         ┆ … ┆ 2925         ┆ 82324       ┆ 0.411824    ┆ Yes │
│ NL   ┆ 2023   ┆ 13114        ┆ 4098         ┆ … ┆ 2943         ┆ 82094       ┆ 0.416498    ┆ Yes │
└──────┴────────┴──────────────┴──────────────┴───┴──────────────┴─────────────┴─────────────┴─────┘

In [12]:
df.write_csv('../Data/Slugging_Data.csv', separator=",")

In [21]:
baseball_pivot = df.pivot('lgID', index='yearID', values='Slugging_Percentage')
baseball_pivot = baseball_pivot.with_columns((pl.col('AL') - pl.col('NL')).alias('AL - NL'))
baseball_unpivot = (baseball_pivot
                 .unpivot(['AL', 'NL', 'AL - NL'], 
                          index='yearID', 
                          variable_name='League', 
                          value_name='League Slugging %')
                 .sort(pl.col('yearID'))
                )

baseball_unpivot.head()

shape: (5, 3)
┌────────┬─────────┬───────────────────┐
│ yearID ┆ League  ┆ League Slugging % │
│ ---    ┆ ---     ┆ ---               │
│ i64    ┆ str     ┆ f64               │
╞════════╪═════════╪═══════════════════╡
│ 1946   ┆ AL      ┆ 0.364142          │
│ 1946   ┆ NL      ┆ 0.35549           │
│ 1946   ┆ AL - NL ┆ 0.008652          │
│ 1947   ┆ AL      ┆ 0.364459          │
│ 1947   ┆ NL      ┆ 0.390394          │
└────────┴─────────┴───────────────────┘

In [19]:
from plotnine import ggplot, geom_line, aes, labs, geom_vline, geom_hline, annotate, theme_classic

Slugging_plot = (ggplot(data = baseball_unpivot)
 + geom_hline(yintercept=0) 
 + geom_line(aes(x = "yearID",                 
                y = "League Slugging %",
                color = "League"))
  + labs(title="League Slugging % vs. yearID", size=30)
  + geom_vline(xintercept=1973,
               linetype = "dotted",
               colour= "orange")
  + theme_classic()
  + annotate('text', x=1962, y = .1, label='DH introduced to the AL in 1973', size=12)
)

In [20]:
Slugging_plot.save('../Images/baseball_Slugging.png', dpi=300)

C:\Users\jb5983on\AppData\Local\anaconda3\envs\polars\Lib\site-packages\plotnine\ggplot.py:606: PlotnineWarning: Saving 6.4 x 4.8 in image.
C:\Users\jb5983on\AppData\Local\anaconda3\envs\polars\Lib\site-packages\plotnine\ggplot.py:607: PlotnineWarning: Filename: ../Images/baseball_Slugging.png